.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.modal {
  top: 10%;
}

#ISCreateCustomer form {
  margin-top: 20px;
}
#ISCreateCustomer .loader {
  display: none;
  margin: 0px;
  position: absolute;
  right: 50px;
  bottom: 25px;
  font-size: 8px;
}
#ISCreateCustomer .loader, #ISCreateCustomer .loader:before, #ISCreateCustomer .loader:after {
  color: #6c7863;
  background: #6c7863;
}
#ISCreateCustomer .submit-btn-area {
  text-align: right;
}
#ISCreateCustomer .submit-btn-area button[type='submit'] {
  margin-top: 15px;
}

#ISCreditCard form {
  margin-top: 20px;
}
#ISCreditCard .loader {
  display: none;
  margin: 0px;
  position: absolute;
  right: 50px;
  bottom: 25px;
  font-size: 8px;
}
#ISCreditCard .loader, #ISCreditCard .loader:before, #ISCreditCard .loader:after {
  color: #6c7863;
  background: #6c7863;
}
#ISCreditCard .submit-btn-area {
  text-align: right;
}
#ISCreditCard .submit-btn-area button[type='submit'] {
  margin-top: 15px;
}